.w-100 {
    margin-top: 10px
  }
  .movie-card {
    margin: 5px; 
  }
  
  .trailer-button {
    padding: 4px 12px 4px 12px;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    text-decoration: none;
  
  }