@import "~bootstrap/scss/bootstrap.scss";

$primary: Black;
$body-bg: CadetBlue;
$card-bg: lightblue;

.main-content {
  margin-top: 5rem;
}  

.custom-form-controls {
  .form-control {
    background-color: lightcyan;
  }
}